body{
    font-family: sans-serif;
    color: blue;
    background-color: #eee;
}
header{
    /* display: flex; */
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 25px;
    padding: 10px 3px;
    margin: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
header > div{
    flex: auto;
}
#first_body{
    width: 100%;
    display: flex;
    padding: 20px;
    margin: 20px 20px;
    text-align: justify;
    margin-top: 60px;
    text-align: center;
    flex-wrap: wrap;
}
#first_body div:nth-of-type(2){
    
    margin-left: 20px;
    margin-top: 20px;
}
.work{
    display: flex;
    width: 300px;
}
.work > p{
    flex: 1 100px;
}
#logo{
    width: 250px;
    height: 250px;
}
a{
    text-decoration: none;
    color: white;
}
#footerdiv > a > img{
    height: 30px;
    width: 30px;
}
#hr{
    border-bottom: 1px solid black;
}