.ref{
    text-align: center;
  }
  p{
      width: 20rem;
      font-family: Comic Sans Ms;
      font-style: italic;
      font-size: 25px;
      text-align: center;
  }
  h3{
      font-size: 25px;
      text-transform: uppercase;
  }
  #body{
      margin: 10/6%;
  }
  img{
      float: left;
      width: 30%;
      height: 400px;
      margin: 1.6666666667%;
      
  }